.page-header
  %h1 
    Locate Gene
    %small May 2015

%form{:action => "/gene", method: "POST"}
  %h3 STEP 1: data
  %textarea{cols: 100, rows:10, placeholder: "e.g. ATCGCGTAATGCCGTA", name: "data"}= params['data']
  %h3 STEP 2: place
  %input{:type => "text", placeholder: "e.g. 3", name: "place", value: "#{params['place']}"}
  %h3
    STEP 3:
    %button.btn.btn-primary.btn-sm{:type => "submit"} get result
%p{style:"word-break: break-all"}
  %span{style:"background-color: yellow"}=@part0
  = @part1